builddir/
*.o
*.so
*.a
*.raw
*.log
*.tmp
*.exe
*.exe~
*.dll
*.dylib
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs
*.pidb
*.booproj
*.pidb
*.svd
*.pdb
*.ilk
*.exp
*.lib
*.idb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc
.DS_Store
Thumbs.db
Desktop.ini
